#todo-error{
  color: red;
  font-size: 2em;
}
.grid-hello {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 240px 240px 1fr;
  grid-template-rows: 1fr 180px 300px 120px 1fr;
  grid-template-areas: 
  "header header header header"
  ". top top ."
  ". left right ."
  ". bottom bottom ."
  "footer . . . .";
}
.grid-list {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 240px 240px 1fr 360px 1fr;
  grid-template-rows: 1fr 180px 300px 120px 1fr;
  grid-template-areas:
  "header header header header header header"
  " . top top top top ."
  ". left right . tasklist ."
  ". bottom bottom . tasklist ."
  "footer . . . . .";
}

.grid-header {
  grid-area: header;
  background: rgba(139, 0, 0, 0.536);
}
.grid-top {
  grid-area: top;
  place-self: center;
}
.grid-left {
  grid-area: left;
  background: rgba(0, 0, 139, 0.529);
}
.grid-right {
  grid-area: right;
  background: rgba(0, 100, 0, 0.527);
}
.grid-bottom {
  grid-area: bottom;
  background: rgba(139, 0, 139, 0.5);
}
.grid-footer {
  grid-area: footer;
  background: rgba(184, 135, 11, 0.473);
}
.grid-tasklist {
  grid-area: tasklist;
  background: rgba(171, 171, 171, 0.5);
}
.quote-card {
  grid-area: top;
  color: #FAD79A;
  background: #34302888;
  text-align: center;
  width: 480px;
  padding: 15px 15px 5px 15px;
}
.quote-card h6 {
text-align: right;
}