#todo-error{
  color: red;
  font-size: 2em;
}
body {
  background: #343028;
  color: #FAD79A;
}
.grid-hello {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 240px 240px 1fr;
  grid-template-rows: 1fr 180px 180px 180px 3fr;
  grid-template-areas: 
  "header header header header"
  ". top top ."
  ". left right ."
  ". bottom bottom ."
  "footer . . . .";
}
.grid-list {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 240px 240px 1fr 360px 1fr;
  grid-template-rows: 1fr 180px 180px 180px 3fr;
  grid-template-areas:
  "header header header header header header"
  " . top top top top ."
  ". left right . tasklist ."
  ". bottom bottom . tasklist ."
  "footer . . . . .";
}

.grid-header {
  grid-area: header;
}
.grid-top {
  grid-area: top;
  place-self: center;
}
.grid-left {
  grid-area: left;
  place-self: center;
}
.grid-right {
  grid-area: right;
  place-self: center;
}
.grid-bottom {
  grid-area: bottom;
  place-self: center;
  text-align: center;
}
.grid-footer {
  grid-area: footer;
  place-self: end start;
}
.grid-tasklist {
  grid-area: tasklist;
  place-self: center;
}
.quote-card {
  grid-area: top;
  background: #34302888;
  text-align: center;
  width: 480px;
  padding: 15px 15px 5px 15px;
}
.quote-card h6 {
text-align: right;
}
.weather-card {
  background: #34302888;
  max-width: 240px;
  padding: 15px 15px 5px 15px;
}